<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

{% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{url_for('.static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{url_for('.static', filename='vendor/magnific-popup/magnific-popup.css')}}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{url_for('.static', filename='css/creative.min.css')}}">

{% endblock %}

  </head>

  {% block navbar %}
    <!-- Navigation -->
    <nav class="bg-grey navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for('index') }}">Entertainment Recommendations</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#contact">Recommendation</a>
                </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('top') }}">Top Words</a>
            </li>
          </ul>
    </div>
    </nav>
{% endblock %}
{% block content %}
    <section class="text-white">
      <div class="container">
        <div class="row" style="align-items: center;justify-content: center">
          
            <div class="sample-user">
              {% if sample_data.prediction %}
                <img class="mx-auto rounded-circle" src="{{sample_data.profile_image}}" alt="">
              {% else %}
                <img class="mx-auto rounded-circle" src="{{url_for('.static', filename='img/samples/thumbnails/')}}{{sample_data.profile_image}}" alt="">
              {% endif %}
              <h3>{{ sample_data.name }}</h3>
            </div>
          
        
        </div>
      <div class="row">
        </div>
        <hr>
      <div class="col-lg-8 mx-auto text-center">
            <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.handle(size=32) }}<br>
            {% for error in form.handle.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <p><br>
            <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger">Enter A Handle</button>
            </form>
          </div>
         
      </div>
      </section>
<section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Recommendation</h2>
            <hr class="my-4">
            <p class="mb-5"></p>
          </div>
        </div>

        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 ml-auto text-center" >
            <div class="card" style="margin:10px">
              <img style="height:250px"src="{{url_for('.static', filename='')}}{{ sample_data.category[0][3]}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">1. {{ sample_data.category[0][0]}}</h5>
                <p class="text-muted mb-0">Date:{{ sample_data.category[0][1]}}</p>
                <p></p>
                <p class="card-text">{{ sample_data.category[0][2]}}</p>
              </div>
            </div>
            <div class="card" style="margin:10px">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">1.{{ sample_data.tweets[0][0]}}</li>
                  <li class="list-group-item">2.{{ sample_data.tweets[0][1]}}</li>
                  <li class="list-group-item">3.{{ sample_data.tweets[0][2]}}</li>
                </ul>
              </div>
            </div>

          </div>
          <div class="col-lg-4 ml-auto text-center">
            <div class="card" style="margin:10px">
              <img style="height:250px" src="{{url_for('.static', filename='')}}{{ sample_data.category[1][3]}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">2. {{ sample_data.category[1][0]}}</h5>
                <p class="text-muted mb-0">Date:{{ sample_data.category[1][1]}}</p>
                <p></p>
                <p class="card-text">{{ sample_data.category[1][2]}}</p>
              </div>
            </div>
            <div class="card" style="margin:10px">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">1.{{ sample_data.tweets[1][0]}}</li>
                  <li class="list-group-item">2.{{ sample_data.tweets[1][1]}}</li>
                  <li class="list-group-item">3.{{ sample_data.tweets[1][2]}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <div class="card" style="margin:10px">
              <img style="height:250px" src="{{url_for('.static', filename='')}}{{ sample_data.category[2][3]}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">3. {{ sample_data.category[2][0]}}</h5>
                <p class="text-muted mb-0">Date:{{ sample_data.category[2][1]}}</p>
                <p></p>
                <p class="card-text">{{ sample_data.category[2][2]}}</p>
              </div>
            </div>
            <div class="card" style="margin:10px">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">1.{{ sample_data.tweets[2][0]}}</li>
                  <li class="list-group-item">2.{{ sample_data.tweets[2][1]}}</li>
                  <li class="list-group-item">3.{{ sample_data.tweets[2][2]}}</li>
                </ul>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </section>
   


{% endblock %}





{% block scripts %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('.static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('.static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{url_for('.static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('.static', filename='vendor/scrollreveal/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('.static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{url_for('.static', filename='js/creative.min.js')}}"></script>
{% endblock %}

{% block d3 %}
{% endblock %}

</html>






